@model List<Cliente>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Clientes</h2>
@Html.ActionLink("Nuevo Cliente", "Nuevo", "Clientes", null, new { @class="btn btn-info" })
@if (Model.Count == 0)
{
    <h3>No hay clientes cargados todavía...</h3>
}
else
{
    <table id="clientes" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo de Membresia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var cliente in Model)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@Html.ActionLink(@cliente.Nombre, "Detalles", new { id = cliente.Id})</td>
                    <td>@cliente.TipoMembresia.Nombre</td>
                    <td><button data-customer-id="@cliente.Id" class="btn btn-link js-borrar">borrar</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    @Html.Partial("_BootboxScriptsPartial")
    <script>
        $(document).ready(function () {

            $("#clientes").on("click", ".js-borrar", function() {
                let button = $(this);

                bootbox.confirm("¿Está seguro que desea borrar el cliente?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/clientes/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });                
            });
        })
    </script>
}
